:root {
    /* lights */
    --light: #E6E7EB;
    --lighter: #DDDFE5;
    --lightest: #F9FAFB;

    /* darks */
    --grey: #6E747D;
    --charcoal: #1F2937;
    --darkest: #1F2937;

    /* color */
    --blue: #3B83F6;

    /* text */
    --txt-xs: 12px;
    --txt-sm: 16px;
    --txt-md: 18px;
    --txt-lg: 24px;
    --txt-xl: 36px;
    --txt-xxl: 48px;

    /* 4px system */
    --spc-xs: 4px;
    --spc-sm: 8px;
    --spc-md: 12px;
    --spc-lg: 16px;
    --spc-xl: 24px;
    --spc-xxl: 32px;
    --spc-xxxl: 40px;
}

.top-nav {}

.hero-section {}

.hero-header-text {}

.hero-description-text {}

.primary-cta-btn {}

.hero-img {}

.info-blocks {}

.info-header-text {}

.info-block {}

.info-spot-illustration {}

.info-text {}

.quote-block {}

.quote-block-text {}

.quote-citation-text {}

.cta-block {}

.cta-header-text {}

.cta-description-text {}

.secondary-cta-btn {}

.main-footer {}