:root {
    /* lights */
    --light: #c4c7cc;
    --lighter: #DDDFE5;
    --lightest: #F9FAFB;

    /* darks */
    --grey: #6E747D;
    --charcoal: #1F2937;
    --darkest: #1F2937;

    /* color */
    --blue: #3B83F6;
    --blue-hover: #1c5cc2;

    /* text */
    --txt-xs: 12px;
    --txt-sm: 16px;
    --txt-md: 18px;
    --txt-lg: 24px;
    --txt-xl: 36px;
    --txt-xxl: 48px;

    /* 4px system */
    --spc-xs: 4px;
    --spc-sm: 8px;
    --spc-md: 12px;
    --spc-lg: 16px;
    --spc-xl: 24px;
    --spc-xxl: 32px;
    --spc-xxxl: 40px;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
}



/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}


.top-nav {
    display: flex;
    flex-direction: row;
    padding: var(--spc-lg) 10%;
    background-color: var(--charcoal);
    justify-content: space-between;
    align-items: center;
}

.top-nav-header {
    font-size: var(--txt-lg);
    color: var(--lightest);
    cursor: default;
}

.top-nav-links {
    display: flex;
    gap: var(--spc-xl);
    color: var(--light);
    list-style: none;
    cursor: pointer;

    & :hover {
        color: var(--lightest);
    }
}


.hero-section {
    display: grid;
    column-gap: var(--spc-lg);
    grid-template-columns: 1fr 1fr;
    padding: var(--spc-xxxl) 10%;
    background-color: var(--charcoal);
    height: auto;

}



.hero-header-text {
    color: var(--lightest);
    font-size: var(--txt-xxl);
    font-weight: 900;
    line-height: 1;
}

.hero-description-text {
    padding: var(--spc-xl) 0;
    color: var(--light);
}

.primary-cta-btn {
    padding: var(--spc-sm) var(--spc-xl);
    background-color: var(--blue);
    color: var(--lightest);
    border: none;
    border-radius: var(--spc-sm);
    cursor: pointer;

}

.primary-cta-btn :active {
    background-color: var(--blue-hover);
}

.hero-section img {
    display: block;
    height: 100%;
    min-height: 200px;
    width: 100%;
    background-color: var(--grey);
}

.info-blocks {}

.info-header-text {}

.info-block {}

.info-spot-illustration {}

.info-text {}

.quote-block {}

.quote-block-text {}

.quote-citation-text {}

.cta-block {}

.cta-header-text {}

.cta-description-text {}

.secondary-cta-btn {}

.main-footer {}